@media (prefers-color-scheme: light) {
  .search__icon {
    color: #9aa0a6;
  }

  .search__input {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }

  .footer {
    background-color: #f1f1f1;
  }

  .footer__content {
    border-top: 1px solid #dadce0;
  }
}
