html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', serif;
}

.header {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.header__list {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__list-item {
  margin-right: 25px;
}

.header__avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.main {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main__logo {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-100% - 50px));
  width: 280px;
}

.search-container {
  position: relative;
  width: 580px;
  height: 45px;
}

.search-form {
  height: 100%;
}

.search-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  left: 18px;
}

.search-form__input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-left: 50px;
  box-sizing: border-box;
}

.footer {
  height: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.footer__country,
.footer__container {
  flex: 1;
  display: flex;
  align-items: center;
}

.footer__country {
  margin-left: 25px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
}

.footer__list:first-child .footer__list-item {
  margin-left: 30px;
}

.footer__list:last-child .footer__list-item {
  margin-right: 30px;
}

.header__link,
.footer__link {
  text-decoration: none;
  color: inherit;
}

.header__link:hover,
.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .search-container {
    width: 90%;
  }

  .footer {
    height: 150px;
  }

  .footer__container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer__list:first-child .footer__list-item,
  .footer__list:last-child .footer__list-item {
    margin: 0 15px;
  }
}

@media (max-width: 480px) {
  .main__logo {
    width: 220px;
  }
}

@media (max-height: 600px) {
  .main__logo {
    width: 220px;
  }
}
